.logo {
    display: block;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--individual-black-logo);
    text-decoration: none;

    &__accent {
            color: var(--accent-color);
        }

    &--white {
    margin-bottom: 20px;
    color: var(--basic-white);
        }
}



